<div class="announcementbar">
    <div class="announmentbar">
      <p class="container-text text-center">
      {{section.settings.message}}
      </p>
    </div>
</div>


{% schema %}
  {
    "name": "announcementbar",
    "settings": [
      {
      "type": "text",
      "id": "message",
      "label": "Announcmentbar",
      "default":"Welcome to our Store"
      }
    ]
  }
{% endschema %}