<div class="footer">
    <p>this is a footer</p>
</div>

{% schema %}
  {
    "name": "footer",
    "tag": "section",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "footer",
        "settings": {
        }
      }
    ]
  }
{% endschema %}